<!-- <div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [count]="13" [label]="'New Tickets!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'New task!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'success'" [icon]="'shopping_cart'" [count]="124" [label]="'New Orders!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'info'" [icon]="'contact_support'" [count]="13" [label]="'New Tickets!'"></app-stat>
    </div>
</div> -->

<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="ClubName">
                <th mat-header-cell *matHeaderCellDef> Club Name </th>
                <td mat-cell *matCellDef="let element"> {{element.ClubName}} </td>
            </ng-container>
            <ng-container matColumnDef="Location">
                <th mat-header-cell *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.Location}} </td>
            </ng-container>
            <ng-container matColumnDef="Motto">
                <th mat-header-cell *matHeaderCellDef> Motto </th>
                <td mat-cell *matCellDef="let element"> {{element.Motto}} </td>
            </ng-container>
            <ng-container matColumnDef="EstablishedDate">
                <th mat-header-cell *matHeaderCellDef> Established Date </th>
                <td mat-cell *matCellDef="let element"> {{element.EstablishedDate}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
